services:
	- App\Core\RouterFactory::createRouter
	ProductDriver:  App\Model\ProductDriver

	ElasticDriver: App\Model\Database\ElasticDriver
	#MySQLDriver: App\Model\Database\MySQLDriver

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
