<h6>Tabulka nejlepších</h6>
<table>
    <thead>
    <tr>
        <th>Pořadí</th>
        <th>Jméno</th>
        <th>Třída</th>
        <th>Body</th>
        <th>Čas</th>
    </tr>
    </thead>
    {var $i = 0}
        {foreach $solvers as $solver}
        <tr>
            <td>{$i++}</td>
            <td>{$solver->name}</td>
            <td>{$solver->class}</td>
            <td>{$solver->points}</td>
            <td>{$solver->time}</td>
        </tr>
    {/foreach}
</table>